/*!
 * Project Name: Blank Template
 * Client: Your Client
 * Author: Your Name
 * GA FEWD10, Washington, D.C.
 */


/*******************************************
 * SETUP
 *******************************************/

/* Box Model Hack */
* {
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
       -moz-box-sizing: border-box; /* Firexfox */
            box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

/*******************************************
 * BASE STYLES
 *******************************************/

body {
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}


/*******************************************
 * LAYOUT
 *******************************************/

/* Center the container */
.container {
    width: 960px;
    margin: auto;
}

header {
    margin: 0px;

}

section {

}

section.cover {
  background-image: url(../img/coworking.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: inset 0 0 5px #444
}

.bookends {
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 25px;

}

/*******************************************
 * ADDITIONAL STYLES
 *******************************************/
 
.horizontal-list li {
    display: inline-block;
    padding: 6px;
 }

 .horizontal-list ul {
    margin: 0px;
    padding-top: 20px;
    text-align: right;
    font-size: 19px;
 }

 .on-top {
    background-color: rgba(255,255,255,.7);
    width: 30%;
    float: right;
    padding: 30px;
    margin: 20px;
    box-shadow: 0 0 5px #444;
 }

 .column {
    width: 31%;
    border-right: 1px solid #ccc;
    float: left;
    padding: 25px;
    margin: 10px;
 }

 .column:last-child {
    border-right: none;
 }

 .topic-heading {
    margin: 0px;
    padding: 0px;
    font-size: 26px;
    line-height: 20px;
 }

 .btn {
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #bbb;
    border-radius: 5px;
    padding: 10px;
    color: #000;
    font-weight: 700;
    font-size: 19px;
    border-bottom: 3px solid #777;
 }

 .tagline {
    font-weight: 700;
    text-align: center;
    font-style: italic;
    background-color: #ccc;
    color: #000;
    padding: 20px;
    margin: 0px;
    border-top: 4px solid #fff558;
 }

  .yellowbtn {
    background-color: #fff558;
    border-bottom: 3px solid #cdc337;
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    color: #000;
    font-weight: 700;
    font-size: 19px;

 }

 .grey {
    color: #999;
 }

 .yellow {
    color: #fff558;
 }

 .yellowunderline {
    border-bottom: 2px solid #fff558;
 }

 .serif {
    font-family: "Merriweather", serif;
 }

 .sans-heading {
    font-family: "Source Sans Pro", sans-serif;
 }

  .sans {
    font-family: "Oswald", sans-serif;
 }

 .bold {
    text-transform: uppercase;
    font-size: 21px;
 }

 h1 {
    font-size: 28px;
    line-height: 30px;
    margin: 0px;
 }
